{# src/Zeega/CoreBundle/Resources/views/HowToContribute/howtocontribute.html.twig #}

{% extends '::base.html.twig' %}

{% block title %}<title>{% trans %}jda.home.title{% endtrans %}</title>{% endblock %}
{% block stylesheets %}
<!-- Visual Search --> 
<!--[if (!IE)|(gte IE 8)]><!-->
<link href="{{ asset('js/lib/visualsearch/visualsearch-datauri.css')}}" media="screen" rel="stylesheet" type="text/css" />
<!--<![endif]-->
<!--[if lte IE 7]><!-->
<link href="{{ asset('js/lib/visualsearch/visualsearch.css')}}" media="screen" rel="stylesheet" type="text/css" />
<!--<![endif]-->
{% endblock %}
{% block scripts %}
{% if app.environment == 'dev' %}
<!-- to load JS libraries separately -->
	<script data-main="{{ asset('js/loaders/about') }}" src="{{ asset('js/lib/require/require-1.0.5.js') }}"></script>
{% else %}
	<!-- to load single aggregated JS library --> 
	<script data-main="{{ asset('js_min/about') }}" src="{{ asset('js/lib/require/require-1.0.5.js') }}"></script>
{% endif %}
{% endblock %}

{% block content %}

<div class="container" id="zeega-view-navigation" style="background-color:rgba(0,0,0,0.7)">


	<div id="jda-home-search-div" class="pull-left" style="width:600px;margin-right:17px;margin-top:5px;margin-left:5%;margin-bottom:5px;display:none">
		<div id="search-bar" style="margin-right:10px">
			<div class="visual_search pull-left"></div>
		</div>
		<a href="#" id="jda-go-button" class="btn btn-info btn-large">go</a>
	</div>



</div><!-- end container -->
<div id="jda-about-container" style="margin:0 5%;position:relative;top:115px">

	<h2 style="color:#666;letter-spacing:1px;margin-bottom:20px">{% trans %}jda.bookmarklet.title{% endtrans %}</h2>

	<div class="tab-content">
	<div id="mission" class="tab-pane active">
	<div id="instructional" style="font-size: 15px; width:80%">

		<a type="button" class="jda-home-button" draggable="true" href="javascript:window.open('http://jdarchive.org/widget?url='+window.location.href+'&title='+document.title, 'JDA Bookmarklet', 'status=no,directories=no,location=no,resizable=no,menubar=no,width=400,height='+window.innerHeight+',toolbar=no');">Add to JDA</a>

		<h3 style="margin-bottom:20px; margin-top:20px;">{% trans %}jda.bookmarklet.touse{% endtrans %}</h3>

		<p style="padding-top:7px; font-size:15px"><b>1. </b>{% trans %}jda.bookmarklet.bullet1{% endtrans %}</p>

		<!--
		{% if locale == 'ja' %}
			<img src="{{ asset('images/howtocontribute1ja.png')}}"></a>
		{% else %}
			<img src="{{ asset('images/howtocontribute1.png')}}"></a>
		{% endif %}
		-->

		<p style="padding-top:7px; font-size:15px"><b>2. </b>{% trans %}jda.bookmarklet.bullet2{% endtrans %}</p>

		<p style="padding-top:7px; font-size:15px"><b>3. </b>{% trans %}jda.bookmarklet.bullet3{% endtrans %}</p>

		<p style="padding-top:7px; font-size:15px"><b>4. </b>{% trans %}jda.bookmarklet.bullet4{% endtrans %}</p>

		<p style="padding-top:7px; font-size:15px"><b>5. </b>{% trans %}jda.bookmarklet.bullet5{% endtrans %}</p>

		<p style="padding-top:7px; font-size:15px"><b>6. </b>{% trans %}jda.bookmarklet.bullet6{% endtrans %}</p>


		<div>
			<p style="padding-top:15px">{% trans %}jda.bookmarklet.browser{% endtrans %}</p>
		</div>


	</div>
	</div>
	</div>
</div><!-- end tab content -->

{% endblock %}