{# src/Zeega/CoreBundle/Resources/views/HowToContribute/howtocontribute.html.twig #}

{% extends '::base.html.twig' %}

{% block title %}<title>{% trans %}jda.home.title{% endtrans %}</title>{% endblock %}
{% block stylesheets %}
<!-- Visual Search --> 
<!--[if (!IE)|(gte IE 8)]><!-->
<link href="{{ asset('js/lib/visualsearch/visualsearch-datauri.css')}}" media="screen" rel="stylesheet" type="text/css" />
<!--<![endif]-->
<!--[if lte IE 7]><!-->
<link href="{{ asset('js/lib/visualsearch/visualsearch.css')}}" media="screen" rel="stylesheet" type="text/css" />
<!--<![endif]-->
{% endblock %}
{% block scripts %}
{% if app.environment == 'dev' %}
<!-- to load JS libraries separately -->
	<script data-main="{{ asset('js/loaders/about') }}" src="{{ asset('js/lib/require/require-1.0.5.js') }}"></script>
{% else %}
	<!-- to load single aggregated JS library --> 
	<script data-main="{{ asset('js_min/about') }}" src="{{ asset('js/lib/require/require-1.0.5.js') }}"></script>
{% endif %}
{% endblock %}

{% block content %}

<div class="container" id="zeega-view-navigation" style="background-color:rgba(0,0,0,0.7)">


	<div id="jda-home-search-div" class="pull-left" style="width:600px;margin-right:17px;margin-top:5px;margin-left:5%;margin-bottom:5px;display:none">
		<div id="search-bar" style="margin-right:10px">
			<div class="visual_search pull-left"></div>
		</div>
		<a href="#" id="jda-go-button" class="btn btn-info btn-large">go</a>
	</div>



</div><!-- end container -->
<div id="jda-about-container" style="margin:0 5%;position:relative;top:115px">

	<h2 style="color:#666;letter-spacing:1px;margin-bottom:20px">{% trans %}jda.howtocontribute.title{% endtrans %}</h2>

	<div class="tab-content">
	<div id="mission" class="tab-pane active">
	<div id="instructional" style="width:80%">
		<p>{% trans %}jda.howtocontribute.intro{% endtrans %}<a href="{{path('howtouse')}}">{% trans %}jda.howtocontribute.searchpage{% endtrans %}</a></p>
		
		<h3 style="margin-bottom:20px">{% trans %}jda.howtocontribute.adding{% endtrans %}</h3>

		<div>
			<p style="padding-top:3px">{% trans %}jda.howtocontribute.addingp1{% endtrans %}</p>
			{% if locale == 'ja' %}
				<img src="{{ asset('images/howtocontribute1ja.png')}}"></a>
			{% else %}
				<img src="{{ asset('images/howtocontribute1.png')}}"></a>
			{% endif %}
		</div>
		
		<h3 style="margin-bottom:20px">{% trans %}jda.howtocontribute.testimonial{% endtrans %}</h3>

		<div>
			<p style="padding-top:3px">{% trans %}jda.howtocontribute.testimonialp1{% endtrans %}</p>
		</div>
		
		<h3 style="margin-bottom:20px">{% trans %}jda.howtocontribute.tagging{% endtrans %}</h3>

		<div>
			<p style="padding-top:3px">{% trans %}jda.howtocontribute.taggingp1{% endtrans %}</p>
			{% if locale == 'ja' %}
				<img src="{{ asset('images/howtocontribute2ja.png')}}"></a>
			{% else %}
				<img src="{{ asset('images/howtocontribute2.png')}}"></a>
			{% endif %}
		</div>
		
		<h3 style="margin-bottom:20px">{% trans %}jda.howtocontribute.translate{% endtrans %}</h3>

		<div>
			<p style="padding-top:3px">{% trans %}jda.howtocontribute.translatep1{% endtrans %}</p>
			{% if locale == 'ja' %}
				<img src="{{ asset('images/howtocontribute3ja.png')}}"></a>
			{% else %}
				<img src="{{ asset('images/howtocontribute3.png')}}"></a>
			{% endif %}
		</div>
		
		<h3 style="margin-bottom:20px">{% trans %}jda.howtocontribute.create{% endtrans %}</h3>

		<div>
			<p style="padding-top:3px">{% trans %}jda.howtocontribute.createp1{% endtrans %}</p>
			<p style="padding-top:3px">{% trans %}jda.howtocontribute.createp2{% endtrans %}</p>
			{% if locale == 'ja' %}
				<img src="{{ asset('images/howtocontribute4ja.png')}}"></a>
			{% else %}
				<img src="{{ asset('images/howtocontribute4.png')}}"></a>
			{% endif %}
			<p style="padding-top:3px">{% trans %}jda.howtocontribute.createp3{% endtrans %}</p>
			<p style="padding-top:3px">{% trans %}jda.howtocontribute.createp4{% endtrans %}</p>
			<p style="padding-top:3px">{% trans %}jda.howtocontribute.createp5{% endtrans %}</p>
						{% if locale == 'ja' %}
				<img src="{{ asset('images/howtocontribute5ja.png')}}"></a>
			{% else %}
				<img src="{{ asset('images/howtocontribute5.png')}}"></a>
			{% endif %}
		</div>

	</div>
	

</div>
</div>
</div><!-- end tab content -->

{% endblock %}	