{% set userId = userId | default(1) %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja-JA">
<head>
	<meta name="description" content="2011年東日本大震災デジタルアーカイブは、皆様お一人おひとり、研究者、そして政策に携わる方が対話し、つながるための参加型空間であり、この震災によって大きな影響を受けた皆様にとって大切な記憶を共有する場所となることを願っています。">
	<meta name="keywords" content="">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	{% block title %}
	{% endblock %}
	<link href="{{ asset('js/lib/bootstrap-2.0.2/css/bootstrap.css')}}" rel="stylesheet" type="text/css">
	<!--<link href="{{ asset('js/lib/bootstrap-2.0.2/css/bootstrap-responsive.css')}}" rel="stylesheet">-->
	<link href="{{ asset('css/zeega-jda.css')}}" rel="stylesheet" type="text/css">
	<link href="{{ asset('css/jda.css')}}" rel="stylesheet" type="text/css">
	<link rel="shortcut icon" type="image/x-icon" href="{{ asset('images/jda.ico')}}"> 
	
	{% if app.environment == 'prod' %}
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', '{{ google_analytics }}']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	
	</script>
	
	{% else %}
	
	<script type="text/javascript">

	function setCookie(c_name,value,exdays)
        {
                var exdate=new Date();
                exdate.setDate(exdate.getDate() + exdays);
                var c_value=escape(value) + ((exdays==null) ? "" : "; expires="+exdate.toUTCString());
                document.cookie=c_name + "=" + c_value;
        }


	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-34158612-1']);
	  _gaq.push(['_trackPageview']);
                var userLang = (navigator.language) ? navigator.language : navigator.userLanguage;

		
		if ((document.cookie.split(';')[0].split('=')[1] == "en") && (window.location=="http://dev.jdarchive.org/hikari/web/ja/home"))
			{
			window.location = 'http://dev.jdarchive.org/hikari/web/en/home';
			//setCookie("username","en",365);
			}
		if ((document.cookie.split(';')[0].split('=')[1] == "ja") && (window.location=="http://dev.jdarchive.org/hikari/web/en/home"))
			{
			window.location = 'http://dev.jdarchive.org/hikari/web/ja/home';	
			}
		if (document.cookie.split(';')[0].split('=')[1] != "en" && document.cookie.split(';')[0].split('=')[1] != "ja")
		{
                	if ( userLang=="en-US" && window.location=="http://dev.jdarchive.org/hikari/web/ja/home")
			{
                        	
				window.location = 'http://dev.jdarchive.org/hikari/web/en/home';
                	}
			else if ( userLang=="ja" && window.location=="http://dev.jdarchive.org/hikari/web/en/home")
			{
          
				window.location = 'http://dev.jdarchive.org/hikari/web/ja/home';
			}
		}
	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
 		 })();
	
	</script>


	{% endif %}
	
	{% block stylesheets %}

	{% endblock %}

	<script> 
		sessionStorage.setItem('directory', '{{directory}}');
		sessionStorage.setItem('hostname','{{hostname}}');
		sessionStorage.setItem('apiUrl','{{api_url}}');
		sessionStorage.setItem('japanMapUrl','{{japan_map_url}}');
		sessionStorage.setItem('geoServerUrl','{{geoserver_url}}');
		sessionStorage.setItem('locale','{{app.request.locale}}');
		
		{% if is_granted('IS_AUTHENTICATED_FULLY') %}
		sessionStorage.setItem('user',{{app.user.getId}});
		{% else %}
		sessionStorage.setItem('user',0);
		{% endif %}		
		
	</script>


	{% include "JDACoreBundle:Translations:translation.html.twig" %}


	{% block scripts %}
	
	
	
	
	
	{% endblock %}



</head>

<body>
	{% set locale = app.request.locale  %}

	{% block header %}


	<header>
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container" style="width:98%">
				
						<div>
							{% if locale == 'ja' %}
							<a class="brand" href="{{path('home', { '_locale': locale })}}"><img id="logo" alt="Logo Japanese" class="home-english" src="{{ asset('images/jda_jp_logo_white.png')}}"></a>
							{% else %}
							<a class="brand" href="{{path('home', { '_locale': locale })}}"><img id="logo" alt="Logo English" class="home-english" src="{{ asset('images/jda_eng_logo_white.png')}}"></a>
							{% endif %}



							<ul id="jda-main-nav" class="nav">
								<li><a href="{{path('search', { '_locale': locale })}}">{% trans %}jda.header.explore{% endtrans %}</a></li>
								<li><a class="go-to-collections" href="{{path('search', { '_locale': locale })}}#view_type=thumb&amp;media_type=Collection">{% trans %}jda.header.collections{% endtrans %}</a></li>
							</ul>
						</div>
						<ul class="nav pull-right">
							<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class='zicon-warning'></i>{% trans %}jda.report.feedback{% endtrans %}<b class="caret"></b></a>
									<ul class="dropdown-menu bug-report">
										<li class='bug-unsubmitted'>
											<div><label>{% trans %}jda.report.bugintro{% endtrans %}</label></div>
											<textarea class='bug-description' rows='3'></textarea>
											<p><i class='icon-ok-sign'></i>{% trans %}jda.report.buglinknote{% endtrans %}</p>
										</li>
										<li class='bug-unsubmitted' >
											<label>{% trans %}jda.report.bugemail{% endtrans %}</label>
											<input class='bug-email' type='text'/>
										</li>
										<li class='bug-unsubmitted'>
											<button  class='btn btn-success submit-bug'>{% trans %}jda.login.button{% endtrans %}</button>
										</li>
										<li class='bug-submitted'>
											<h2>{% trans %}jda.feedbackthanks{% endtrans %}</h2>
											<h3 style='padding-left:80px'>-- {% trans %}jda.team{% endtrans %}</h3>
											<br>
										</li>
										<li class='bug-submitted'>
											<button class='btn btn-success close-bug '>{% trans %}jda.close{% endtrans %}</button>
										</li>
										
									</ul>
							</li>
							<li class="divider-vertical"></li>
							<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans %}jda.header.add{% endtrans %}<b class="caret"></b></a>
										<ul class="dropdown-menu">
											<li><a href="{{path('seedSubmit', { '_locale': locale}) }}">{% trans %}jda.header.addwebsite{% endtrans %}</a></li>
											<li><a href="{{path('testimonial', { '_locale': locale}) }}">{% trans %}jda.header.addtestimonial{% endtrans %}</a></li>
											
										</ul>
							</li>
							<li class="divider-vertical"></li>
							<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans %}jda.header.about{% endtrans %}<b class="caret"></b></a>
										<ul class="dropdown-menu">
											<li><a href="{{path('about', { '_locale': locale })}}">{% trans %}jda.about.project{% endtrans %}</a></li>
											<li><a href="{{path('team', { '_locale': locale })}}">{% trans %}jda.about.team{% endtrans %}</a></li>
											
										</ul>
							</li>
							
							
							<li class="divider-vertical"></li>
							{% if is_granted('IS_AUTHENTICATED_FULLY') %}
								<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="zicon-user"></i> {% if displayname is defined %} {{displayname}}{% endif %}<b class="caret"></b></a>
										<ul class="dropdown-menu">
											<!-- <li><a id="account-settings" href ="#">{% trans %}jda.user.settings{% endtrans %}</a></li> -->
											<li><a id="user-profile" href="{{path('user', { '_locale': locale,'id':app.user.getId })}}">{% trans %}jda.user.profile{% endtrans %}</a></li>
											<li><a href='{{ path('fos_user_security_logout',{ '_locale': locale })}}' >{% trans %}jda.user.logout{% endtrans %}</a></li>
										</ul>
								</li>
							{% else %}
							<li id="user-dropdown" class="dropdown" style="display:none;">
										<a id="user-displayname" href="#" class="dropdown-toggle" data-toggle="dropdown"></a>
										<ul class="dropdown-menu">
											<!-- <li><a id="account-settings" href ="#">{% trans %}jda.user.settings{% endtrans %}</a></li> -->
											<li><a href="{{path('user', { '_locale': locale,'id':userId })}}">{% trans %}jda.user.profile{% endtrans %}</a></li>
											<li><a href='{{ path('fos_user_security_logout',{ '_locale': locale })}}' >{% trans %}jda.user.logout{% endtrans %}</a></li>
										</ul>
								</li>
								<li><a id="sign-in" data-link="{{path('fos_user_security_login')}}" href="#">{% trans %}jda.header.signin{% endtrans %}</a></li>
							{% endif %}
							
							
							
							<li class="divider-vertical"></li>
							<li>
								<div id='jda-language-toggle' class="btn-group">
									<button data-language="ja" class="btn btn-mini {% if locale == 'ja' %} active {% endif %} ">日本語</button>
									<button data-language="en" class="btn btn-mini {% if locale == 'en' %} active {% endif %}">English</button>
								</div>
							</li>
						</ul>
				</div><!--/container -->
			</div><!--/navbar-inner -->
		</div><!--/navbar -->
	</header>

	<!-- <a href='#myModal' class='alpha-header' data-toggle='modal'>alpha</a> -->

	{% endblock %}

	{% block content %}
	{% endblock %}

	{% block footer %}
	{% endblock %}


	<div class="modal" id="user-modal" >
		<a id="user-modal-close" class="close" style="padding-right:5px;" data-dismiss="modal">×</a>
		<div id="user-modal-body" class="user-modal-body"></div>
	</div>
	


	<div class="modal" id="myModal" style='display:none'>
		<div class="modal-header">
			<a class="close" data-dismiss="modal">×</a>
			<h3>{% trans %}jda.header.aboutalpha{% endtrans %}</h3>
		</div>
		<div class="modal-body">
			<p>{% trans %}jda.header.alphadescription{% endtrans %}</p>
		</div>

	</div>

	<div class="modal"  id="browserModal"  >
		<div class="modal-header">
			<a class="close" data-dismiss="modal">×</a>
			<h3>{% trans %}jda.browser.modalheader{% endtrans %}</h3>
		</div>
		<div class="modal-body">
			<p>{% trans %}jda.browser.modalbody{% endtrans %}</p>
		</div>

	</div>
	
	


</body>
</html>
