<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta name="robots" content="noindex,follow">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	{% block title %}
	{% endblock %}
	<link href="{{ asset('jda/js/lib/bootstrap-2.0.2/css/bootstrap.css')}}" rel="stylesheet" type="text/css">
	<link href="{{ asset('jda/js/lib/bootstrap-2.0.2/css/bootstrap-responsive.css')}}" rel="stylesheet">
	<link href="{{ asset('jda/css/zeega-jda.css')}}" rel="stylesheet" type="text/css">
	<link href="{{ asset('jda/css/jda.css')}}" rel="stylesheet" type="text/css">

	<link rel="shortcut icon" type="image/x-icon" href="{{ asset('jda/images/jda.ico')}}"> 

	{% block stylesheets %}
	


	{% endblock %}

	<script> 
		sessionStorage.setItem('directory', '{{directory}}');
		sessionStorage.setItem('hostname','{{hostname}}');
		sessionStorage.setItem('apiUrl','{{api_url}}');
		sessionStorage.setItem('japanMapUrl','{{japan_map_url}}');
		sessionStorage.setItem('geoServerUrl','{{geoserver_url}}');
		sessionStorage.setItem('locale','{{app.session.locale}}');
	
	</script>


	{% block scripts %}
	{% endblock %}



</head>

<body>
	{% set locale = app.session.locale  %}

	{% block header %}


	<header>
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<div class="row">
						<div class="span8">
							{% if locale == 'ja' %}
							<a class="brand" href="{{path('home', { '_locale': locale })}}"><img id="logo" class="home-english" src="{{ asset('jda/images/logo-jp.png')}}"></a>
							{% else %}
							<a class="brand" href="{{path('home', { '_locale': locale })}}"><img id="logo" class="home-english" src="{{ asset('jda/images/logo.png')}}"></a>
							{% endif %}



							<ul id="jda-main-nav" class="nav span4">
								<li><a href="#">Explore</a></li>
								<li><a href="#about">Collections</a></li>
								<li><a href="#contact">Participate</a></li>
							</ul>
						</div>
						<ul class="nav span5 pull-right">
							<li><a href="{{path('about', { '_locale': locale})}}" class="about-english">{% trans %}jda.header.about{% endtrans %}</a></li>
							<li class="divider-vertical"></li>
							{% if is_granted('IS_AUTHENTICATED_FULLY') %}
								<li><a href='{{ path('_security_logout')}}'>Sign out</a></li>
							{% else %}
								<li><a href='{{ path('_security_login')}}'>Sign in</a></li>
							{% endif %}
							<li class="divider-vertical"></li>
							<li>
								<div id='jda-language-toggle' class="btn-group">
									<button data-language="en" class="btn btn-mini btn-info {% if locale == 'en' %} active {% endif %}">English</button>
									<button data-language="ja" class="btn btn-mini btn-info {% if locale == 'ja' %} active {% endif %} ">日本の</button>
								</div>
							</li>
						</ul>
					</div><!--/row -->
				</div><!--/container -->
			</div><!--/navbar-inner -->
		</div><!--/navbar -->
	</header>

	<a href='#myModal' class='alpha-header' data-toggle='modal'>alpha</a>

	{% endblock %}

	{% block content %}
	{% endblock %}

	{% block footer %}
	{% endblock %}

	<div class="modal" id="myModal" style='display:none'>
		<div class="modal-header">
			<a class="close" data-dismiss="modal">×</a>
			<h3>{% trans %}jda.header.aboutalpha{% endtrans %}</h3>
		</div>
		<div class="modal-body">
			<p>{% trans %}jda.header.alphadescription{% endtrans %}</p>
		</div>

	</div>

</body>
</html>
