{# src/Zeega/CoreBundle/Resources/views/Team/team.html.twig #}

{% extends '::base.html.twig' %}

{% block title %}<title>{% trans %}jda.home.title{% endtrans %}</title>{% endblock %}
{% block stylesheets %}
<!-- Visual Search --> 
<!--[if (!IE)|(gte IE 8)]><!-->
<link href="{{ asset('js/lib/visualsearch/visualsearch-datauri.css')}}" media="screen" rel="stylesheet" type="text/css" />
<!--<![endif]-->
<!--[if lte IE 7]><!-->
<link href="{{ asset('js/lib/visualsearch/visualsearch.css')}}" media="screen" rel="stylesheet" type="text/css" />
<style>
	p{
		margin:14px 25px 18px;
	}
</style>
<!--<![endif]-->
{% endblock %}
{% block scripts %}
{% if app.environment == 'dev' %}
<!-- to load JS libraries separately -->
	<script data-main="{{ asset('js/loaders/about') }}" src="{{ asset('js/lib/require/require-1.0.5.js') }}"></script>
{% else %}
	<!-- to load single aggregated JS library --> 
	<script data-main="{{ asset('js_min/about') }}" src="{{ asset('js/lib/require/require-1.0.5.js') }}"></script>
{% endif %}
{% endblock %}

{% block content %}

<div class="container" id="zeega-view-navigation" style="background-color:rgba(0,0,0,0.7)">


	<div id="jda-home-search-div" class="pull-left" style="margin-right:17px;margin-top:5px;margin-left:5%;margin-bottom:5px;display:none">
		<div id="search-bar" style="margin-right:10px">
			<div class="visual_search pull-left"></div>
		</div>
		<a href="#" id="jda-go-button" class="btn btn-info btn-large">go</a>
	</div>



</div><!-- end container -->
<div id="jda-about-container" style="margin:0 5%;position:relative;top:115px">

	<h2 style="color:#666;letter-spacing:1px;margin-bottom:20px">{% trans %}jda.about.team{% endtrans %}</h2>

	<h3>{% trans %}jda.team.leader{% endtrans %}</h3>

	<p>Project Director: Andrew Gordon, Professor of History<br/>
	Project Manager: Nick Kapur, Postdoctoral Fellow<br/>
	</p>

	<h4>{% trans %}jda.team.additional{% endtrans %}</h4>

	<p>Professor Ted Bestor, Director<br/>
	Dr. Ted Gilman, Associate Director<br/>
	Kazuko Sakaguchi, Librarian, Documentation Center on Contemporary Japan<br/>
	Stacie Matsumoto, Institute Coordinator<br/>
	</p>

	<h4>{% trans %}jda.team.interaction{% endtrans %}</h4>

	<p>Project Technical Lead: E.J. Bensing<br/>
	Interface Developer: Corinne Curcie<br/>
	Interface Developer: Jessica Yurkofsky, metaLAB (at) Harvard<br/>
	Interface Developer: Hikari Senju<br/>
	MapD Developer: Todd Mostak<br/>
	</p>
	
	<h4>{% trans %}jda.team.contentdevelopment{% endtrans %}</h4>
	<p>Digital Content Lead: Koko Howell<br/>
	Digital Content Developer: Anna Wada<br/>
	Educational Design Coordinator: Kyle Parry, metaLAB (at) Harvard<br/>
	Public Relations and Social Media: Taisei Wake<br/>
	</p>

	<h4>{% trans %}jda.team.alumni{% endtrans %}</h4>

	<p>
	Molly Des Jardin: Archive Development Manager<br/>
	Konrad M. Lawson: Project management<br/>
	Yuhki Yamashita: Project development and design<br/>
	Arne Brasseur: Project development<br/>
	Jesse Shapins: Zeega Platform design and development<br/>
	Luís Filipe Brandão: Zeega Platform design and development<br/>
	James Burns: Zeega Platform design and development<br/>
	Kara Oehler: Zeega Platform design and development<br/>
	Joseph Bergen: Zeega Platform design and development<br/>
	Selena Kim: Interface design<br/>
	Eric Dinmore: Collection curation<br/>
	Kyoko Shiga: Web seed and testimonial curation<br/>
	Ray Kameda: GIS data curation<br/>
	Takamasa Nunogaki: Web seed curation<br/>
	Alicia Zhao: Web seed curation<br/>
	Yeonjoo Kim: Web seed curation<br/>
	Ilsoo Cho: Web seed curation<br/>
	Miho Segal: Web seed curation<br/>
	Grace Song: Web seed curation<br/>
	Sandy Xu: Web seed and testimonial curation<br/>
	Atsuko Yamashita: Web seed curation<br/>
	Rei Yoshimune: Web seed curation<br/>
	</p>

	<h4>{% trans %}jda.team.inquiries{% endtrans %}<a href="mailto:info@jdarchive.org">info@jdarchive.org</h4>
</div>
<!-- end tab content -->
{% endblock %}	
