{# src/Zeega/CoreBundle/Resources/views/Home/home.html.twig #}

{% extends '::base.html.twig' %}

{% block title %}<title>{% trans %}jda.home.title{% endtrans %}</title>{% endblock %}


{% block stylesheets %}


<!-- Visual Search --> 
<!--[if (!IE)|(gte IE 8)]><!-->
<link href="{{ asset('js/lib/visualsearch/visualsearch-datauri.css')}}" media="screen" rel="stylesheet" type="text/css" />
<!--<![endif]-->
<!--[if lte IE 7]><!-->
<link href="{{ asset('js/lib/visualsearch/visualsearch.css')}}" media="screen" rel="stylesheet" type="text/css" />
<!--<![endif]-->
 {% endblock %}

{% block scripts %}

{% if app.environment == 'dev' %}
<!-- to load JS libraries separately -->
	<script data-main="{{ asset('js/loaders/home') }}" src="{{ asset('js/lib/require/require-1.0.5.js') }}"></script>
{% else %}
	<!-- to load single aggregated JS library --> 
	<script data-main="{{ asset('js_min/home') }}" src="{{ asset('js/lib/require/require-1.0.5.js') }}"></script>
{% endif %}

{# <script type="text/javascript" src="{{ asset('js/lib/jcarousel/lib/jquery-1.9.1.min.js')}}"></script> #}
{# <script type="text/javascript" src="{{ asset('js/lib/jcarousel/lib/jquery.jcarousel.min.js')}}"></script> #}

<!-- Carousel scripts -->
<script type="text/javascript">


</script>

{% endblock %}





{% block content %}

{% block extra %}
{% endblock %}
<div class="container" id="home-view-navigation" style="min-height:100%;position:relative;height:100%">

	<!-- facebook and twitter icons -->
	<div style="float:right;">
		<a href="https://twitter.com/jdarchive"><button id="home-twitter-button"></button></a><a href="https://www.facebook.com/pages/Digital-Archive-of-Japans-2011-Disasters/143040332434759"><button id="home-facebook-button"></button></a>
		<a href="http://jdarchive-news.tumblr.com/"><button id="home-tumblr-button"></button></a>
	</div>
	
	<!-- searchbar -->
	<div id="jda-home-search-div">
	    <div id="search-bar" style="width:780px">
	        <div class="visual_search pull-left"></div>
			<a href="#" id="jda-go-button" class="jda-home-button">{% trans %}jda.home.go{% endtrans %}</a>
	    </div>
	    
    </div>

  	<!-- intro buttons -->
		
	<div id="intro-nav">
		<a href="{{path('howtouse')}}"><img class="home-button" 
			{% if locale == 'ja' %}
				src="{{ asset('images/button1ja.png')}}">
			{% else %}
				src="{{ asset('images/button1.png')}}">
			{% endif %}</a>
		<a href="{{path('howtocontribute')}}"><img class="home-button" 
			{% if locale == 'ja' %}
				src="{{ asset('images/button2ja.png')}}">
			{% else %}
				src="{{ asset('images/button2.png')}}">
			{% endif %}</a>
		<a href="{{path('partners')}}"><img class="home-button" 
			{% if locale == 'ja' %}
				src="{{ asset('images/button3ja.png')}}">
			{% else %}
				src="{{ asset('images/button3.png')}}">
			{% endif %}</a>
		<div style="clear:both"></div>
	</div>

	<!-- carousel -->
	
	<div id="wrap" style="position: absolute;bottom:0;width:100%;height:250px;">
		<!-- recent collections -->
		<div style="margin-left:2%; position:relative; display:inline-block;">
			<h2>{% trans %}jda.home.recentcollections{% endtrans %}</h2>
		</div>
		
	<ul id="mycarousel" class="jcarousel-skin-tango">
		{% for item in items %}
				<li style="background-image:url({{item.thumbnail_url}});"><a href="{{path('collection', { '_locale': locale,'id':item.id })}}">{{item.title}}</a></li>
        {% endfor %}
		
	  </ul>
	</div>
	
</div> <!-- end container -->

<!-- HIDDEN FOR NOW ADD TO ARCHIVE grey bar-->
<div class="row jda-home-bottom-row" style="display:none">
	<div class="span3 offset2"><h3><a href="#">Add to the Archive</a></h3><p>Help us document the disaster with images, audio, video and text.</p></div>
	<h3 class="span3"><i class="jdicon-image jdicon-lightgrey"></i> <i class="jdicon-audio jdicon-lightgrey"></i> <i class="jdicon-video jdicon-lightgrey"></i> <i class="jdicon-document jdicon-lightgrey"></i></h3>
	<div class="span3"><h3><a href="#">Create a Collection</a></h3><p>Give the archive your unique perspective by grouping items within themes, topics and stories.</p></div>
	<h3 class="span3"><a class="btn btn-info btn-large" href="#">Learn How</a></h3>

</div>

{% endblock %}	
