{# src/Zeega/CoreBundle/Resources/views/Home/home.html.twig #}

{% extends '::base.html.twig' %}

{% block title %}<title>{% trans %}jda.home.title{% endtrans %}</title>{% endblock %}


{% block stylesheets %}
<!-- Visual Search --> 
<!--[if (!IE)|(gte IE 8)]><!-->
<link href="{{ asset('js/lib/visualsearch/visualsearch-datauri.css')}}" media="screen" rel="stylesheet" type="text/css" />
<!--<![endif]-->
<!--[if lte IE 7]><!-->
<link href="{{ asset('js/lib/visualsearch/visualsearch.css')}}" media="screen" rel="stylesheet" type="text/css" />
<!--<![endif]-->
 {% endblock %}

{% block scripts %}

<script data-main="{{ asset('js/loaders/home') }}" src="{{ asset('js/lib/require/require-1.0.5.js') }}"></script>

{% endblock %}



{% block content %}

{% block extra %}
{% endblock %}

 <div class="container" id="zeega-view-navigation" style="background-color:rgba(0,0,0,0.7)">
  	
  			

                    <div id="search-bar" style="margin-right:17px;margin-top:17px">
        			<div class="visual_search pull-left"></div>
  				
        			
                    </div>
                    <h3 class="en jda-home-teaser-text">
						<strong>{% trans %}jda.home.about.intro{% endtrans %}</strong> {% trans %}jda.home.about{% endtrans %} <a href="{{path('about', { '_locale': locale })}}" class="about-english">{% trans %}jda.home.more{% endtrans %}
							&gt;</a>
					</h3>

  		
  </div><!-- end container -->

<div style="width:101%;position:relative;top:22px">
	<div class="jda-home-featured-collection" style="background-image:url({{ asset('images/featured1_large.jpg') }})">
		
		<div class="jda-home-featured-collection-text-block">
			<h3>Featured Collection</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
		</div>
		
	</div><div class="jda-home-featured-collection" style="background-image:url({{ asset('images/featured2_large.jpg') }})">
			<div class="jda-home-featured-collection-text-block">
			<h3>Featured Collection</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
		</div>
	</div><div  class="jda-home-featured-collection" style="background-position:left;background-image:url({{ asset('images/featured3_large.jpg') }})">
		<div class="jda-home-featured-collection-text-block">
			<h3>Featured Collection</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
		</div>
	</div>
</div>
<!-- HIDDEN FOR NOW -- ADD TO ARCHIVE grey bar-->
<div class="row jda-home-bottom-row" style="display:none">
	<div class="span3 offset2"><h3><a href="#">Add to the Archive</a></h3><p>Help us document the disaster with images, audio, video and text.</p></div>
	<h3 class="span3"><i class="jdicon-image jdicon-lightgrey"></i> <i class="jdicon-audio jdicon-lightgrey"></i> <i class="jdicon-video jdicon-lightgrey"></i> <i class="jdicon-document jdicon-lightgrey"></i></h3>
	<div class="span3"><h3><a href="#">Create a Collection</a></h3><p>Give the archive your unique perspective by grouping items within themes, topics and stories.</p></div>
	<h3 class="span3"><a class="btn btn-info btn-large" href="#">Learn How</a></h3>

</div>

<footer>

		
			<h3>{% trans %}jda.home.partners{% endtrans %}</h3>
			<ul>
			
				<li><a href="http://warp.ndl.go.jp/WARP_disaster.html" target="_blank"><img class="partnerimg" src="{{ asset('images/partner-logos/nationalDietLibrary.png')}}"></a></li>
				<li><a href="http://www.fas.harvard.edu/~rijs/" target="_blank"><img class="partnerimg" src="{{ asset('images/partner-logos/reischauer.png')}}"></a></li>
				<li><a href="http://311archives.jp/" target="_blank"><img class="partnerimg" src="{{ asset('images/partner-logos/all311.png')}}"></a></li>
				<li><a href="http://www.dcrc.tohoku.ac.jp/archive/index.html/" target="_blank"><img class="partnerimg" src="{{ asset('images/partner-logos/tohoku311.png')}}"></a></li>						
				<li><a href="http://311map.com/" target="_blank"><img class="partnerimg" src="{{ asset('images/partner-logos/311Map.png')}}"></a></li>
				<li><a href="http://recorder311.smt.jp/" target="_blank"><img class="partnerimg" src="{{ asset('images/partner-logos/logo_cr.png')}}"></a></li>
				<li><a href="http://savemlak.jp/" target="_blank"><img class="partnerimg" src="{{ asset('images/partner-logos/saveMLAK.png')}}"></a></li>
				<li><a href="http://recorder311.smt.jp/" target="_blank"><img class="partnerimg" src="{{ asset('images/partner-logos/sendaiMedia.png')}}"></a></li>
				
				
				<li><a href="http://www.yahoo.co.jp/" target="_blank"><img class="partnerimg" src="{{ asset('images/partner-logos/YahooJapan.gif')}}"></a></li>
				
				
				<li><a href="http://zeega.org" target="_blank"><img class="partnerimg" src="{{ asset('images/partner-logos/zeega.png')}}"></a></li>
				<li><a href="http://metalab.harvard.edu" target="_blank"><img class="partnerimg" src="{{ asset('images/partner-logos/mlh.gif')}}"></a></li>
				
				
				
				<li><a href="http://www.archive-it.org/collections/2438" target="_blank"><img class="partnerimg" src="{{ asset('images/partner-logos/archiveIT.png')}}"></a></li>
				<li><a href="http://worldmap.harvard.edu/japanmap/" target="_blank"><img class="partnerimg" src="{{ asset('images/partner-logos/CGA.png')}}"></a></li>
				<li><a href="http://archive.org" target="_blank"><img class="partnerimg" src="{{ asset('images/partner-logos/InternetArchive.png')}}"></a></li>
				<li><a href="http://www.loc.gov/index.html" target="_blank"><img class="partnerimg" src="{{ asset('images/partner-logos/LibraryOfCongress.png')}}"></a></li>
			</ul>
			<h4 style="text-align:center;clear:both; margin:30px 0">Site powered by <a href="http://www.zeega.org/about.php" target="_blank">Zeega.org</a><br> <br></h4>
			
		

	
</footer>




{% endblock %}	
