{# src/Zeega/CoreBundle/Resources/views/Home/home.html.twig #}

{% extends '::base.html.twig' %}

{% block title %}<title>{% trans %}jda.home.title{% endtrans %}</title>{% endblock %}


{% block stylesheets %}

<link href="{{ asset('js/lib/jcarousel/skins/tango/skin.css')}}" media="screen" rel="stylesheet" type="text/css" />
<!-- Visual Search --> 
<!--[if (!IE)|(gte IE 8)]><!-->
<link href="{{ asset('js/lib/visualsearch/visualsearch-datauri.css')}}" media="screen" rel="stylesheet" type="text/css" />
<!--<![endif]-->
<!--[if lte IE 7]><!-->
<link href="{{ asset('js/lib/visualsearch/visualsearch.css')}}" media="screen" rel="stylesheet" type="text/css" />
<!--<![endif]-->
 {% endblock %}

{% block scripts %}

{% if app.environment == 'dev' %}
<!-- to load JS libraries separately -->
	<script data-main="{{ asset('js/loaders/home') }}" src="{{ asset('js/lib/require/require-1.0.5.js') }}"></script>
{% else %}
	<!-- to load single aggregated JS library --> 
	<script data-main="{{ asset('js_min/home') }}" src="{{ asset('js/lib/require/require-1.0.5.js') }}"></script>
{% endif %}

<script type="text/javascript" src="{{ asset('js/lib/jcarousel/lib/jquery-1.9.1.min.js')}}"></script>
<script type="text/javascript" src="{{ asset('js/lib/jcarousel/lib/jquery.jcarousel.min.js')}}"></script>

<!-- Carousel scripts -->
<script type="text/javascript">
var jQuery_1_9_1 = $.noConflict(true);
jQuery_1_9_1(document).ready(function() {
    jQuery_1_9_1('#mycarousel').jcarousel({
    	wrap: 'circular'
    });
});

</script>

{% endblock %}





{% block content %}

{% block extra %}
{% endblock %}
<div class="container" id="home-view-navigation" style="min-height:100%;position:relative;height:100%">

	<!-- facebook and twitter icons -->
	<div style="float:right;">
		<a href="https://twitter.com/jdarchive"><button id="home-twitter-button"></button></a><a href="https://www.facebook.com/pages/Digital-Archive-of-Japans-2011-Disasters/143040332434759"><button id="home-facebook-button"></button></a>
	</div>
	
	<!-- searchbar -->
	<div id="jda-home-search-div">
	    <div id="search-bar">
	        <div class="visual_search pull-left"></div>
			<a href="#" id="jda-go-button" class="jda-home-button">{% trans %}jda.home.go{% endtrans %}</a>
	    </div>
	    
    </div>

  	<!-- intro buttons -->
		
	<div id="intro-nav">
		<a href="{{path('howtouse')}}" class="home-button gray"><i class="homeicon-search"></i>
			<span class="home-button-text">{% trans %}jda.home.howtouse{% endtrans %}</span></a>
		<a href="{{path('howtocontribute')}}" class="home-button gray"><i class="homeicon-pencil"></i>
			<span class="home-button-text">{% trans %}jda.home.contributeto{% endtrans %}</span></a>
		<a href="{{path('partners')}}" class="home-button gray"><i class="homeicon-group"></i>
			<span class="home-button-text">{% trans %}jda.home.meetpartners{% endtrans %}</span></a>
		<div style="clear:both"></div>
	</div>

	<!-- carousel -->

	<div id="wrap" style="position: absolute;bottom:0;width:100%;height:250px;">
		<!-- recent collections -->
		<div style="margin-left:2%; position:relative; display:inline-block;">
			<h2>{% trans %}jda.home.recentcollections{% endtrans %}</h2>
		</div>
		
	<ul id="mycarousel" class="jcarousel-skin-tango">
		<li style="background-image:url('http://archive.shinsai.c.yimg.jp/v1/resource/emgphoto-0807/093/27807_sr.jpg');"><a href="{{path('collection', { '_locale': locale,'id':1532509 })}}">The World Bank Institute</a></li>
		
		<li style="background-image:url('http://archive.shinsai.c.yimg.jp/v1/resource/emgphoto-0702/063/27702_sr.jpg');"><a href="{{path('collection', { '_locale': locale,'id':1532501 })}}">NPO: AMDA</a></li>
		
		<li style="background-image:url('http://archive.shinsai.c.yimg.jp/v1/resource/emgphoto-0629/072/59629_sr.jpg');"><a href="{{path('collection', { '_locale': locale,'id':1532065 })}}">子ども被災者支援法・ Child Victim Support Law</a></li>
		
		<li style="background-image:url('http://michinoku.irides.tohoku.ac.jp/michinoku-archive/photo/11/285667571184358.jpg');"><a href="{{path('collection', { '_locale': locale,'id':1493365 })}}">震災体験談 Blog：JIYUZINE</a></li>
		
		<li style="background-image:url('http://michinoku.irides.tohoku.ac.jp/michinoku-archive/photo/71/247711007118146.jpg');"><a href="{{path('collection', { '_locale': locale,'id':1493338 })}}">Building Research Institute</a></li>
		
		<li style="background-image:url('http://archive.shinsai.c.yimg.jp/v1/resource/emgphoto-0744/029/55744_sr.jpg');"><a href="{{path('collection', { '_locale': locale,'id':1493317 })}}">高校野球</a></li>
		
		<li style="background-image:url('http://archive.shinsai.c.yimg.jp/v1/resource/emgphoto-0068/024/11068_sr.jpg');"><a href="{{path('collection', { '_locale': locale,'id':1493316 })}}">Kirin・キリンビール</a></li>
		
		<li style="background-image:url('http://archive.shinsai.c.yimg.jp/v1/resource/emgphoto-0771/015/16771_sr.jpg');"><a href="{{path('collection', { '_locale': locale,'id':1493315 })}}">経団連： Keidanren</a></li>
		
		<li style="background-image:url('http://archive.shinsai.c.yimg.jp/v1/resource/emgphoto-0457/087/10457_sr.jpg');"><a href="{{path('collection', { '_locale': locale,'id':1493275 })}}">動物愛護： dog actually</a></li>
		
		<li style="background-image:url('http://archive.shinsai.c.yimg.jp/v1/resource/emgphoto-0292/015/13292_sr.jpg');"><a href="{{path('collection', { '_locale': locale,'id':1493274 })}}">ペット支援：今日もわんにゃん日和</a></li>
		
		
	  </ul>
	</div>
	
</div> <!-- end container -->

<!-- HIDDEN FOR NOW ADD TO ARCHIVE grey bar-->
<div class="row jda-home-bottom-row" style="display:none">
	<div class="span3 offset2"><h3><a href="#">Add to the Archive</a></h3><p>Help us document the disaster with images, audio, video and text.</p></div>
	<h3 class="span3"><i class="jdicon-image jdicon-lightgrey"></i> <i class="jdicon-audio jdicon-lightgrey"></i> <i class="jdicon-video jdicon-lightgrey"></i> <i class="jdicon-document jdicon-lightgrey"></i></h3>
	<div class="span3"><h3><a href="#">Create a Collection</a></h3><p>Give the archive your unique perspective by grouping items within themes, topics and stories.</p></div>
	<h3 class="span3"><a class="btn btn-info btn-large" href="#">Learn How</a></h3>

</div>

{% endblock %}	
