{# src/Zeega/CoreBundle/Resources/views/Home/home.html.twig #}

{% extends '::base.html.twig' %}

{% block title %}<title>{% trans %}jda.home.title{% endtrans %}</title>{% endblock %}

{% block stylesheets %}
	<link type="text/css" href="{{ asset('js/lib/jquery-ui-1.8.18.custom/css/smoothness/jquery-ui-1.8.18.custom.css')}}" rel="Stylesheet" />
	<link href="{{ asset('js/lib/jquerySVG/jquery.svg.css')}}" rel="stylesheet" type="text/css">

	<!-- Leaflet CSS --> 
	<link rel="stylesheet" href="{{ asset('js/lib/leaflet/leaflet.css')}}" />
	<!--[if lte IE 8]><link rel="stylesheet" href="{{ asset('js/lib/leaflet/leaflet.ie.css')}}" /><![endif]-->

	<!-- Tags --> 
	<link rel="stylesheet" type="text/css" href="{{ asset('js/lib/jquery.tagsinput.css')}}" />

    <!-- chosen -->
    <link rel="stylesheet" type="text/css" href="{{ asset('js/lib/chosen/chosen.css')}}" />

	<!-- Visual Search --> 
	<!--[if (!IE)|(gte IE 8)]><!-->
	<link href="{{ asset('js/lib/visualsearch/visualsearch-datauri.css')}}" media="screen" rel="stylesheet" type="text/css" />
	<!--<![endif]-->
	<!--[if lte IE 7]><!-->
	<link href="{{ asset('js/lib/visualsearch/visualsearch.css')}}" media="screen" rel="stylesheet" type="text/css" />
	<!--<![endif]-->
{% endblock %}	

{% block scripts %}

    <script src="{{ asset('js/lib/chosen/chosen.jquery.min.js') }}"></script>
	<!--<script data-main="{{ asset('js/loaders/advsearch') }}" src="{{ asset('js/lib/require/require-1.0.5.js') }}"></script>-->

{% endblock %}

{% block content %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head><title></title></head>
<body>
    <center>
    <div class="main_form_div">
        <div style="border: 1px solid black;">
            <table class="main_form_table">
                <tr>
                    <td><h2>{% trans %}jda.form.contribute.title{% endtrans %}</h2></td>
                    <td><!-- language options here --></td>
                </tr>
                <tr>
                    <td colspan="2">{% trans %}jda.form.contribute.instructions{% endtrans %}</td>
                </tr>
                <tr>
                    <th>{% trans %}jda.form.contribute.url{% endtrans %}<span class="form_required">*</span></th>
                    <td><input type="text" name="urlTxt" value="" /></td>          
                </tr>                  
                <tr>                   
                    <th>{% trans %}jda.form.contribute.pageTitle{% endtrans %}<span class="form_required">*</span></th>
                    <td><input type="text" name="pageTitleTxt" value="" /></td>          
                </tr>                  
                <tr>                   
                    <th>{% trans %}jda.form.contribute.description{% endtrans %}</th>
                    <td><textarea name="descriptionTxt"></textarea></td>          
                </tr>                  
                <tr>                   
                    <th>{% trans %}jda.form.contribute.frequency{% endtrans %}</th>
                    <td>
                        <select name="frequencyDDL">
                            <option value="Once">{% trans %}jda.form.contribute.once{% endtrans %}</option>
                            <option value="Daily">{% trans %}jda.form.contribute.daily{% endtrans %}</option>
                            <option value="Weekly">{% trans %}jda.form.contribute.weekly{% endtrans %}</option>
                            <option value="Monthly">{% trans %}jda.form.contribute.monthly{% endtrans %}</option>
                        </select>
                    </td>          
                </tr>                  
                <tr>                   
                    <th>{% trans %}jda.form.contribute.scope{% endtrans %}</th>
                    <td>
                        <select name="scopeDDL">
                            <option value="Page">{% trans %}jda.form.contribute.scope.page{% endtrans %}</option>
                            <option value="Directory">{% trans %}jda.form.contribute.scope.directory{% endtrans %}</option>
                            <option value="Site">{% trans %}jda.form.contribute.scope.site{% endtrans %}</option>
                        </select>
                    </td>          
                </tr>                  
                <tr>                   
                    <th>{% trans %}jda.form.contribute.tags{% endtrans %}</th>
                    <td>
                        <select name="tagsSelect" id="tagsSelect" multiple>
                            <option value="test1">test1</option>
                            <option value="test2">test2</option>
                            <option value="test3">test3</option>
                        </select>
                    </td>          
                </tr>                  
                <tr>                   
                    <th>{% trans %}jda.form.contribute.location{% endtrans %}</th>
                    <td>maps stuff</td>          
                </tr>                  
                <tr>                   
                    <th>{% trans %}jda.form.contribute.category{% endtrans %}</th>
                    <td>drop down</td>          
                </tr>                  
                <tr>                   
                    <th>{% trans %}jda.form.contribute.language{% endtrans %}</th>
                    <td>checkboxes</td>          
                </tr>                  
                <tr>                   
                    <th>{% trans %}jda.form.contribute.name{% endtrans %}</th>
                    <td><input type="text" name="nameTxt" value="" /></td>
                </tr>
                <tr>                   
                    <th>{% trans %}jda.form.contribute.email{% endtrans %}</th>
                    <td><input type="text" name="emailTxt" value="" /></td>
                </tr>
            </table>
            <script type="text/javascript">
                $("document").ready(function () {
                    $("#tagsSelect").chosen();
                });
            </script>
        </div>
    </div>
</center>
</body>
</html>
{% endblock %}