{# src/Zeega/CoreBundle/Resources/views/Home/home.html.twig #}

{% extends '::base.html.twig' %}

{% block title %}<title>{% trans %}jda.home.title{% endtrans %}</title>{% endblock %}

{% block stylesheets %}
	<link type="text/css" href="{{ asset('js/lib/jquery-ui-1.8.18.custom/css/smoothness/jquery-ui-1.8.18.custom.css')}}" rel="Stylesheet" />
	<link href="{{ asset('js/lib/jquerySVG/jquery.svg.css')}}" rel="stylesheet" type="text/css">

	<!-- Leaflet CSS --> 
	<link rel="stylesheet" href="{{ asset('js/lib/leaflet/leaflet.css')}}" />
	<!--[if lte IE 8]><link rel="stylesheet" href="{{ asset('js/lib/leaflet/leaflet.ie.css')}}" /><![endif]-->

	<!-- Tags --> 
	<link rel="stylesheet" type="text/css" href="{{ asset('js/lib/jquery.tagsinput.css')}}" />

    <!-- chosen -->
    <link rel="stylesheet" type="text/css" href="{{ asset('js/lib/chosen/chosen.css')}}" />

	<!-- Visual Search --> 
	<!--[if (!IE)|(gte IE 8)]><!-->
	<link href="{{ asset('js/lib/visualsearch/visualsearch-datauri.css')}}" media="screen" rel="stylesheet" type="text/css" />
	<!--<![endif]-->
	<!--[if lte IE 7]><!-->
	<link href="{{ asset('js/lib/visualsearch/visualsearch.css')}}" media="screen" rel="stylesheet" type="text/css" />
	<!--<![endif]-->
{% endblock %}	

{% block scripts %}
    <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
	<script data-main="{{ asset('js/loaders/form') }}" src="{{ asset('js/lib/require/require-1.0.5.js') }}"></script>

{% endblock %}

{% block content %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head><title></title></head>
<body>
    <center>
    <div class="main_form_div">
        <div>
            <form id="contributeForm">
                <table class="main_form_table">
                    <tr>
                        <td><h2>{% trans %}jda.form.contribute.title{% endtrans %}</h2></td>
                        <td><!-- language options here --></td>
                    </tr>
                    <tr>
                        <td colspan="2">{% trans %}jda.form.contribute.instructions{% endtrans %}</td>
                    </tr>
                    <tr>
                        <th style="width:200px;">{% trans %}jda.form.contribute.url{% endtrans %}<span class="form_required">*</span></th>
                        <td><input type="text" name="urlTxt" id="urlTxt" value="" /></td>          
                    </tr>                  
                    <tr>                   
                        <th>{% trans %}jda.form.contribute.pageTitle{% endtrans %}<span class="form_required">*</span></th>
                        <td><input type="text" name="pageTitleTxt" id="pageTitleTxt" value="" /></td>          
                    </tr>                  
                    <tr>                   
                        <th>{% trans %}jda.form.contribute.description{% endtrans %}</th>
                        <td><textarea name="descriptionTxt" id="descriptionTxt"></textarea></td>          
                    </tr>     
                    <tr>                   
                        <th>{% trans %}jda.form.contribute.frequency{% endtrans %}</th>
                        <td>
                            <select name="frequencyDDL" id="frequencyDDL">
                                <option value="Once">{% trans %}jda.form.contribute.once{% endtrans %}</option>
                                <option value="Daily">{% trans %}jda.form.contribute.daily{% endtrans %}</option>
                                <option value="Weekly">{% trans %}jda.form.contribute.weekly{% endtrans %}</option>
                                <option value="Monthly">{% trans %}jda.form.contribute.monthly{% endtrans %}</option>
                            </select>
                        </td>          
                    </tr>                  
                    <tr>                   
                        <th>{% trans %}jda.form.contribute.scope{% endtrans %}</th>
                        <td>
                            <select name="scopeDDL" id="scopeDDL">
                                <option value="Page">{% trans %}jda.form.contribute.scope.page{% endtrans %}</option>
                                <option value="Directory">{% trans %}jda.form.contribute.scope.directory{% endtrans %}</option>
                                <option value="Site">{% trans %}jda.form.contribute.scope.site{% endtrans %}</option>
                            </select>
                        </td>          
                    </tr>
                    <tr>                   
                        <th>{% trans %}jda.form.contribute.dateCreated{% endtrans %}</th>
                        <td><input type="text" name="dateCreatedTxt" id="dateCreatedTxt"/></td>          
                    </tr>             
                    <tr>                   
                        <th>{% trans %}jda.form.contribute.tags{% endtrans %}</th>
                        <td>
                            <select name="tagsSelect" id="tagsSelect" multiple>
                            </select>
                        </td>          
                    </tr>                  
                    <tr>                   
                        <th>{% trans %}jda.form.contribute.location{% endtrans %}</th>
                        <td>
                                <input type="text" id="address" name="location" size="60" /> &nbsp;&nbsp;<button type="button" onclick="showAddress();" class="btn">Find on Map!</button>
                                <div><span class="hint">{% trans %}jda.form.contribute.map.hint{% endtrans %}</span></div>
                                <div id="map_canvas" style="width: 550px; height: 300px"></div>
                                <div id="latlng"></div>
                                <input type="hidden" id="lat" name="lat" value="" />
                                <input type="hidden" id="lng" name="lng" value="" />
                        </td>          
                    </tr>                  
                    <tr>                   
                        <th>{% trans %}jda.form.contribute.category{% endtrans %}</th>
                        <td>
                            <select name="categoryDDL" id="categoryDDL">
                                <option value="Website">{% trans %}jda.search.website{% endtrans %}</option>
                                <!--<option value="Image">{% trans %}jda.search.image{% endtrans %}</option>
                                <option value="Video">{% trans %}jda.search.video{% endtrans %}</option>
                                <option value="Audio">{% trans %}jda.search.audio{% endtrans %}</option>
                                <option value="Document">{% trans %}jda.search.document{% endtrans %}</option>-->
                            </select>
                        </td>          
                    </tr>                  
                    <tr>                   
                        <th>{% trans %}jda.form.contribute.language{% endtrans %}</th>
                        <td>
                            <input type="checkbox" name="languageChk" id="englishChk" value="English" /> {% trans %}jda.form.contribute.language.english{% endtrans %}
                            <input type="checkbox" name="languageChk" id="japaneseChk" value="Japanese" /> {% trans %}jda.form.contribute.language.japanese{% endtrans %}
                            <input type="checkbox" name="languageChk" id="chineseChk" value="Chinese" /> {% trans %}jda.form.contribute.language.chinese{% endtrans %}
                            <input type="checkbox" name="languageChk" id="koreanChk" value="Korean" /> {% trans %}jda.form.contribute.language.korean{% endtrans %}
                        </td>          
                    </tr>               
                    <tr>                   
                        <th>{% trans %}jda.form.contribute.name{% endtrans %}</th>
                        <td><input type="text" name="nameTxt" id="nameTxt" value="" /></td>
                    </tr>

                    <tr>                   
                        <th>{% trans %}jda.form.contribute.email{% endtrans %}</th>
                        <td><input type="text" name="emailTxt" id="emailTxt" value="" /></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <center>
                                <input type="button" name="submitContributeBtn" id="submitContributeBtn" value="Submit" class="btn" />
                            </center>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</center>
</body>
</html>
{% endblock %}