{# src/Zeega/CoreBundle/Resources/views/Home/home.html.twig #}

{% extends '::base.html.twig' %}

{% block title %}<title>{% trans %}jda.home.title{% endtrans %}</title>{% endblock %}

{% block stylesheets %}
	<link type="text/css" href="{{ asset('js/lib/jquery-ui-1.8.18.custom/css/smoothness/jquery-ui-1.8.18.custom.css')}}" rel="Stylesheet" />
	<link href="{{ asset('js/lib/jquerySVG/jquery.svg.css')}}" rel="stylesheet" type="text/css">

	<!-- Leaflet CSS --> 
	<link rel="stylesheet" href="{{ asset('js/lib/leaflet/leaflet.css')}}" />
	<!--[if lte IE 8]><link rel="stylesheet" href="{{ asset('js/lib/leaflet/leaflet.ie.css')}}" /><![endif]-->

	<!-- Tags --> 
	<link rel="stylesheet" type="text/css" href="{{ asset('js/lib/jquery.tagsinput.css')}}" />

	<!-- Visual Search --> 
	<!--[if (!IE)|(gte IE 8)]><!-->
	<link href="{{ asset('js/lib/visualsearch/visualsearch-datauri.css')}}" media="screen" rel="stylesheet" type="text/css" />
	<!--<![endif]-->
	<!--[if lte IE 7]><!-->
	<link href="{{ asset('js/lib/visualsearch/visualsearch.css')}}" media="screen" rel="stylesheet" type="text/css" />
	<!--<![endif]-->
{% endblock %}	

{% block scripts %}

	<!--<script data-main="{{ asset('js/loaders/advsearch') }}" src="{{ asset('js/lib/require/require-1.0.5.js') }}"></script>-->

{% endblock %}

{% block content %}
<center>
    <div class="main_form_div">
        <div style="border: 1px solid black;">
        testing
        </div>
    </div>
</center>
{% endblock %}