{# src/Zeega/CoreBundle/Resources/views/Home/home.html.twig #}

{% extends '::base.html.twig' %}

{% block title %}<title>{% trans %}jda.home.title{% endtrans %}</title>{% endblock %}

{% block stylesheets %}
	<link type="text/css" href="{{ asset('js/lib/jquery-ui-1.8.18.custom/css/smoothness/jquery-ui-1.8.18.custom.css')}}" rel="Stylesheet" />
	<link href="{{ asset('js/lib/jquerySVG/jquery.svg.css')}}" rel="stylesheet" type="text/css">

	<!-- Leaflet CSS --> 
	<link rel="stylesheet" href="{{ asset('js/lib/leaflet/leaflet.css')}}" />
	<!--[if lte IE 8]><link rel="stylesheet" href="{{ asset('js/lib/leaflet/leaflet.ie.css')}}" /><![endif]-->

	<!-- Tags --> 
	<link rel="stylesheet" type="text/css" href="{{ asset('js/lib/jquery.tagsinput.css')}}" />

    <!-- chosen -->
    <link rel="stylesheet" type="text/css" href="{{ asset('js/lib/chosen/chosen.css')}}" />

    <!-- timepicker -->
    <link rel="stylesheet" type="text/css" href="{{ asset('js/lib/timepicker/jquery-ui-timepicker-addon.css')}}" />
	<!-- Visual Search --> 
	<!--[if (!IE)|(gte IE 8)]><!-->
	<link href="{{ asset('js/lib/visualsearch/visualsearch-datauri.css')}}" media="screen" rel="stylesheet" type="text/css" />
	<!--<![endif]-->
	<!--[if lte IE 7]><!-->
	<link href="{{ asset('js/lib/visualsearch/visualsearch.css')}}" media="screen" rel="stylesheet" type="text/css" />
	<!--<![endif]-->
{% endblock %}	

{% block scripts %}
    <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
	<script data-main="{{ asset('js/loaders/form') }}" src="{{ asset('js/lib/require/require-1.0.5.js') }}"></script>

{% endblock %}

{% block content %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head><title></title></head>
<body>
    <center>
    <div class="main_form_div">
        <div>
            <form id="testimonialForm">
                <table class="main_form_table">
                    <tr>
                        <td colspan="2"><h2>{% trans %}jda.form.testimonial.title{% endtrans %}</h2></td>
                        <!--<td> language options here</td>-->
                    </tr>
                    <tr>
                        <td colspan="2">{% trans %}jda.form.testimonial.instructions{% endtrans %}</td>
                    </tr>
                    <tr>
                        <th style="width:200px;">{% trans %}jda.form.testimonial.name{% endtrans %}</th>
                        <td><input type="text" name="nameTxt" id="nameTxt" value="" /></td>          
                    </tr>
                    <tr>
                        <th>{% trans %}jda.form.testimonial.titleTxt{% endtrans %}<span class="form_required">*</span></th>
                        <td><input type="text" name="titleTxt" id="titleTxt" value="" /></td>          
                    </tr>
                    <tr>                   
                        <th>{% trans %}jda.form.testimonial.privacy{% endtrans %}</th>
                        <td>
                            <select name="privacyDDL" id="privacyDDL">
                                <option value="Show">{% trans %}jda.form.testimonial.privacy.show{% endtrans %}</option>
                                <option value="Hide">{% trans %}jda.form.testimonial.privacy.hide{% endtrans %}</option>
                            </select>
                        </td>          
                    </tr>                   
                    <tr>                   
                        <th>{% trans %}jda.form.testimonial.email{% endtrans %}<span class="form_required">*</span></th>
                        <td><input type="text" name="emailTxt" id="emailTxt" value="" /></td>          
                    </tr>    
                    <tr>                   
                        <th>{% trans %}jda.form.testimonial.residence{% endtrans %}</th>
                        <td><input type="text" name="residenceTxt" id="residenceTxt" value="" /></td>          
                    </tr>
                    <tr>                   
                        <th>{% trans %}jda.form.testimonial.occupation{% endtrans %}</th>
                        <td><input type="text" name="occupationTxt" id="occupationTxt" value="" /></td>          
                    </tr>   
                    <tr>                   
                        <th>{% trans %}jda.form.testimonial.birthyear{% endtrans %}</th>
                        <td>
                            <select name="yearDDL" id="yearDDL">
                                    <option value=""></option>
                            </select>
                        </td>          
                    </tr>            
                    <tr>                   
                        <th>{% trans %}jda.form.testimonial.story{% endtrans %}<span class="form_required">*</span></th>
                        <td><textarea name="storyTxt" id="storyTxt"></textarea></td>          
                    </tr>                            
                    <tr>                   
                        <th>{% trans %}jda.form.testimonial.from{% endtrans %}</th>
                        <td>
                            <input type="text" name="fromTxt" id="fromTxt" value="" />
                        </td>          
                    </tr>
                    <tr>                   
                        <th>{% trans %}jda.form.testimonial.to{% endtrans %}</th>
                        <td>
                            <input type="text" name="toTxt" id="toTxt" value="" />
                        </td>          
                    </tr>                  
                    <tr>
                          <th>
                            {% trans %}jda.form.testimonial.locations{% endtrans %}
                          </th>
                          <td>
                                <input type="text" id="address" name="location" size="60" /> &nbsp;&nbsp;<button type="button" onclick="showAddress();" class="btn">Find on Map!</button>
                                <div><span class="hint">{% trans %}jda.form.contribute.map.hint{% endtrans %}</span></div>
                                <div id="map_canvas" style="width: 550px; height: 300px"></div>
                                <div id="latlng"></div>
                                <input type="hidden" id="lat" name="lat" value="" />
                                <input type="hidden" id="lng" name="lng" value="" />
                        </td> 
                    </tr>                  
                    <tr>                   
                        <th>{% trans %}jda.form.testimonial.imageUpload{% endtrans %}</th>
                        <td>
                            <div>
                                <input type="button" name="addImageBtn" id="addImageBtn" value="Add Image" />
                            </div>
                            <table id="imgTbl">
                            </table>
                        </td>          
                    </tr>                                  
                    <tr>                   
                        <th>{% trans %}jda.form.testimonial.terms{% endtrans %}</th>
                        <td>
                            {% trans %}jda.form.testimonial.terms.text{% endtrans %}
                            <input type="checkbox" name="termsChk" id="termsChk" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <center>
                                <input type="button" name="submitTestimonialBtn" id="submitTestimonialBtn" value="Submit" class="btn" />
                            </center>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</center>
</body>
</html>
{% endblock %}
