{# src/Zeega/CoreBundle/Resources/views/Home/home.html.twig #}

{% extends 'JDACoreBundle:Home:home.html.twig' %}

{% block scripts %}
<script type="text/javascript" src="{{ asset('jda/js/lib/jquery/jquery-1.7.1.min.js')}}"></script>
<script type="text/javascript" src="{{ asset('jda/js/ux/jda.ux.login.js')}}"></script>
{% endblock %}

{% block stylesheets %}
	<link href="{{ asset('jda/css/authorization.css')}}" rel="stylesheet" type="text/css">
{% endblock %}

{% set page = 'login'%}
{% block extra %}
	<div class="login-modal-background"></div>
	<div class="login-modal">
		<div class="login-modal-header">
			<div style="text-align:right; width:96%;" >
			{% if locale == 'jp' %}
				<a href="{{path('_security_login', { '_locale': 'en' })}}">
					{% trans %}jda.header.english{% endtrans %}
				</a>
			{% else %}
				<a href="{{path('_security_login', { '_locale': 'jp' })}}">
				{% trans %}jda.header.japanese{% endtrans %}
				</a>
			{% endif %}
			</div>
			<h1>{% trans %}jda.login.header{% endtrans %}</h1>
			<h2>{% trans %}jda.login.subheader{% endtrans %}</h2>
			<div id="login-text">
				{% trans %}jda.login.description{% endtrans %}
			</div>
		</div>
		<div class="login-modal-body">
			<span id="partner-login">{% trans %}jda.login.partnerlogin{% endtrans %}</span><a id="request-login" href="http://jdarchive.org">{% trans %}jda.login.requestalogin{% endtrans %}</a>
			<div style="clear:both"></div>
				<form action="{{ path("fos_user_security_check") }}" method="post">
					<div class="box">
				    	<label for="username">{% trans %}jda.login.username{% endtrans %}</label>
						<br>
					    <input type="text" id="username" name="_username" value="{{ last_username }}" class="input_text" />
						<br><br>
					    <label for="password">{% trans %}jda.login.password{% endtrans %}</label>
						<br>
					    <input type="password" id="password" name="_password" class="input_text" />
						<!--
					    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
					    <label for="remember_me">{{ 'Remember me'|trans({}, 'FOSUserBundle') }}</label>
						-->	
						<br><br>
				    	<input type="submit" id="_submit" name="_submit" value="{% trans %}jda.login.password{% endtrans %}" class="login-button"/>
						<br><br>
					</div>
				</form>
		</div>
	</div>

{% endblock %}