{# src/Zeega/JDABundle/Resources/views/Home/home.html.twig #}

{% extends 'ZeegaJDABundle:Home:home.html.twig' %}

{% block scripts %}
<script type="text/javascript" src="{{ asset('jda/js/lib/jquery/jquery-1.7.1.min.js')}}"></script>
<script type="text/javascript" src="{{ asset('jda/js/ux/jda.ux.login.js')}}"></script>

{% endblock %}


{% set page = 'login'%}
{% if locale is not defined %}
	{% set locale = 'en'%}
{% endif %}
{% block extra %}

	<div class="modal" id="login-modal" style='display:none'>
		<div class="modal-header">
			<a class="close" data-dismiss="modal">×</a>
			<h3>Welcome to the Digital Archive of Japan's 2011 Disasters</h3>
			The archive is currently in development and only available to partners.
		</div>
		<div class="modal-body">
			<p>Partner login</p><a>Request a login</a>
				<form action="{{ path("fos_user_security_check") }}" method="post">
					<div class="box">
				    	<label for="username">{{ 'Username'|trans({}, 'FOSUserBundle') }}</label>
					    <input type="text" id="username" name="_username" value="{{ last_username }}" class="input_text" />

					    <label for="password">{{ 'Password'|trans({}, 'FOSUserBundle') }}</label>
					    <input type="password" id="password" name="_password" class="input_text" />
						<!--
					    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
					    <label for="remember_me">{{ 'Remember me'|trans({}, 'FOSUserBundle') }}</label>
						-->	
						<br><br>
				    	<input type="submit" id="_submit" name="_submit" value="{{ 'submit'|trans({}, 'FOSUserBundle') }}" class="button"/>
						<br><br>
					</div>
				</form>
		</div>
	</div>
{% endblock %}