{# src/Zeega/CoreBundle/Resources/views/HowToUse/howtouse.html.twig #}

{% extends '::base.html.twig' %}

{% block title %}<title>{% trans %}jda.home.title{% endtrans %}</title>{% endblock %}
{% block stylesheets %}
<!-- Visual Search --> 
<!--[if (!IE)|(gte IE 8)]><!-->
<link href="{{ asset('js/lib/visualsearch/visualsearch-datauri.css')}}" media="screen" rel="stylesheet" type="text/css" />
<!--<![endif]-->
<!--[if lte IE 7]><!-->
<link href="{{ asset('js/lib/visualsearch/visualsearch.css')}}" media="screen" rel="stylesheet" type="text/css" />
<!--<![endif]-->
{% endblock %}
{% block scripts %}
{% if app.environment == 'dev' %}
<!-- to load JS libraries separately -->
	<script data-main="{{ asset('js/loaders/about') }}" src="{{ asset('js/lib/require/require-1.0.5.js') }}"></script>
{% else %}
	<!-- to load single aggregated JS library --> 
	<script data-main="{{ asset('js_min/about') }}" src="{{ asset('js/lib/require/require-1.0.5.js') }}"></script>
{% endif %}
{% endblock %}

{% block content %}

<div class="container" id="zeega-view-navigation" style="background-color:rgba(0,0,0,0.7)">


	<div id="jda-home-search-div" class="pull-left" style="width:600px;margin-right:17px;margin-top:5px;margin-left:5%;margin-bottom:5px;display:none">
		<div id="search-bar" style="margin-right:10px">
			<div class="visual_search pull-left"></div>
		</div>
		<a href="#" id="jda-go-button" class="btn btn-info btn-large">go</a>
	</div>



</div><!-- end container -->
<div id="jda-about-container" style="margin:0 5%;position:relative;top:115px">

	<h2 style="color:#666;letter-spacing:1px;margin-bottom:20px">{% trans %}jda.howtouse.title{% endtrans %}</h2>

	<div class="tab-content">
	<div id="mission" class="tab-pane active">
	<div id="instructional" style="width:80%">
		<p><a href="http://guides.nccjapan.org/jdarchive?hs=a">{% trans %}jda.home.about.intro{% endtrans %}</a>
		{% trans %}jda.howtouse.intro{% endtrans %}<a href="{{path('howtocontribute')}}">{% trans %}jda.howtouse.contributepage{% endtrans %}</a></p>
		
		<h3 style="margin-bottom:20px">{% trans %}jda.howtouse.searching{% endtrans %}</h3>

		<div>
			<p style="padding-top:3px">{% trans %}jda.howtouse.searchingp1{% endtrans %}</p>
			{% if locale == 'ja' %}
				<img src="{{ asset('images/howtouse1ja.png')}}"></a>
			{% else %}
				<img src="{{ asset('images/howtouse1.png')}}"></a>
			{% endif %}
		</div>
		<div>
			<p style="padding-top:3px">{% trans %}jda.howtouse.searchingp2{% endtrans %}</p>
		</div>
		<div>
			<h4>{% trans %}jda.howtouse.limit{% endtrans %}</h4>
			<p style="padding-top:3px">{% trans %}jda.howtouse.limitp1{% endtrans %}</p>
			{% if locale == 'ja' %}
				<img src="{{ asset('images/howtouse2ja.png')}}">
			{% else %}
				<img src="{{ asset('images/howtouse2.png')}}">
			{% endif %}
		</div>
		<div>
			<h4>{% trans %}jda.howtouse.limit2{% endtrans %}</h4>
			<p style="padding-top:3px">{% trans %}jda.howtouse.limitp2{% endtrans %}</p>
			{% if locale == 'ja' %}
				<img src="{{ asset('images/howtouse3ja.png')}}">
			{% else %}
				<img src="{{ asset('images/howtouse3.png')}}">
			{% endif %}
		</div>
		<div>
			<h4>{% trans %}jda.howtouse.sort{% endtrans %}</h4>
			<p style="padding-top:3px">{% trans %}jda.howtouse.sortp1{% endtrans %}</p>
		</div>
		
		<h3 style="margin-bottom:20px">{% trans %}jda.howtouse.advanced{% endtrans %}</h3>
		
		<div>
			<p style="padding-top:3px">{% trans %}jda.howtouse.advancedp1{% endtrans %}</p>
			{% if locale == 'ja' %}
				<img src="{{ asset('images/howtouse4ja.png')}}">
			{% else %}
				<img src="{{ asset('images/howtouse4.png')}}">
			{% endif %}
		</div>

		<h3 style="margin-bottom:20px">{% trans %}jda.howtouse.map{% endtrans %}</h3>
		
		<div>
			<p style="padding-top:3px">{% trans %}jda.howtouse.mapp1{% endtrans %}</p>
			{% if locale == 'ja' %}
				<img src="{{ asset('images/howtouse5ja.png')}}">
			{% else %}
				<img src="{{ asset('images/howtouse5.png')}}">
			{% endif %}
			<p style="padding-top:3px">{% trans %}jda.howtouse.mapp2{% endtrans %}</p>
			{% if locale == 'ja' %}
				<img src="{{ asset('images/howtouse6ja.png')}}">
			{% else %}
				<img src="{{ asset('images/howtouse6.png')}}">
			{% endif %}
		</div>

	</div>
	

</div>
</div>
</div><!-- end tab content -->

{% endblock %}	